# Kitty Configuration

# Force zsh as shell
shell {{ .fish }}

# Font
font_family FiraCode Nerd Font
font_size 11.0

# Window
window_padding_width 8
confirm_os_window_close 0
background_opacity 0.95

# Tomorrow Night Theme (matches starship palette)
foreground              #fbf1c7
background              #1d2021
selection_foreground    #1d2021
selection_background    #fbf1c7

# Cursor
cursor                  #fbf1c7
cursor_text_color       #1d2021

# Black
color0  #3c3836
color8  #665c54

# Red
color1  #803232
color9  #bc6e6e

# Green
color2  #667032
color10 #a2ac6e

# Yellow
color3  #af742f
color11 #ebb06b

# Blue
color4  #3f5c6b
color12 #7b98a7

# Magenta
color5  #6b4862
color13 #a7849e

# Cyan
color6  #476e6d
color14 #83aaa9

# Orange (using as bright black alternative)
color7  #9c582d
color15 #d89469

# Added by Gogh
include colors.conf
