{{- $fish := "/usr/bin/fish" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $fish = "/opt/homebrew/bin/fish" -}}
{{- end -}}

sourceDir = {{ joinPath .chezmoi.homeDir "chezmoi" | quote }}

[data]
    os   = {{ .chezmoi.os | quote }}
    fish = {{ $fish | quote }}
