#!/bin/bash
# fish_plugins hash: {{ include "dot_config/fish/create_fish_plugins" | sha256sum }}

if ! command -v fish &> /dev/null; then
    exit 0
fi

# Remove CachyOS's broken done.fish plugin
if [[ -f /usr/share/cachyos-fish-config/conf.d/done.fish ]]; then
    sudo rm /usr/share/cachyos-fish-config/conf.d/done.fish
fi

echo "Installing/updating Fisher plugins..."
fish -c '
if not functions -q fisher
    curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source
    fisher install jorgebucaran/fisher
end
fisher update
'
